 body {
     background-size:cover;
     background-image:url(cards.jpg);
     font-family: 'Trebuchet MS' , 'Lucida Sans Unicode';
     text-align:center;
     color:White;
}

h1 {
    color:goldenrod;
}

#message{
    font-style:italic;
}

#btn1 {
    color:#016f32;
    width:150px;
    background-color:goldenrod;
    font-weight:bold;
    padding-top:5px;
    padding-bottom:5px;
    border:none;
    border-radius: 2px;
}

button {
    color:#016f32;
    width:150px;
    background-color:goldenrod;
    font-weight:bold;
    padding-top:5px;
    padding-bottom:5px;
    border:none;
    border-radius: 2px;
    margin-bottom:2px;
    margin-top:2px;
}
