 body {
     background-size:cover;
     font-family: 'Trebuchet MS' , 'Lucida Sans Unicode';
     background-image:url(https://us.123rf.com/450wm/yamabikay/yamabikay1706/yamabikay170600015/79675835-green-felt-fabric-for-background-seamless-square-texture-tile-ready-high-resolution-photo-.jpg?ver=6);
     text-align:center;
     color:White;
}

h1 {
    color:goldenrod;
}

#message{
    font-style:italic;
}

#btn1 {
    color:#016f32;
    width:150px;
    background-color:goldenrod;
    font-weight:bold;
    padding-top:5px;
    padding-bottom:5px;
    border:none;
    border-radius: 2px;
}

button {
    color:#016f32;
    width:150px;
    background-color:goldenrod;
    font-weight:bold;
    padding-top:5px;
    padding-bottom:5px;
    border:none;
    border-radius: 2px;
    margin-bottom:2px;
    margin-top:2px;
}
